.catelog {
    @include flex(center, space-between);
    flex-direction: column;

    @include tablet {
        flex-direction: column;
    }

    &__content {
        width: 70%;
        margin-left: 5rem;
        margin: 3rem 0;

        @include tablet {
            width: 100%;
            margin: 0;
        }

        .ant-pagination {
            height: 100px;
        }



    }

    &__filter {


        @include tablet {
            position: fixed;
            z-index: 100;
            top: $header-tablet-height;
            margin: 0 0;
            left: -12px;
            padding: 1rem;
            background-color: #fff;
            height: 100vh;
            box-shadow: $box-shadow;
            transform: translateX(-100%);
            transition: transform 0.3 ease;
        }


    }
}